In [2]:
student = {
    "name": "Deepika Singh",
    "age": 20,
    "course": "BCA",
    "year": 2,
    "marks": [85, 90, 78],
    }
print(student)

{'name': 'Deepika Singh', 'age': 20, 'course': 'BCA', 'year': 2, 'marks': [85, 90, 78]}

- how to declare dictionary
- how to access key value pair
- loops in  dictionary
- nested dictionary

## declare a list in dictionary

In [4]:
temp = {
    'lucknow':[34,35,36],
    'delhi':[32,33,34],
    'mumbai':[30,31,32],
}
print(temp)

{'lucknow': [34, 35, 36], 'delhi': [32, 33, 34], 'mumbai': [30, 31, 32]}

## dict method for converting dictionary

In [5]:
info = dict(name="alice", age=25, city="new york")
print(info)

{'name': 'alice', 'age': 25, 'city': 'new york'}

In [7]:
info = dict(name="alice", age=int(input("enter a no")), city="new york")
print(info)

{'name': 'alice', 'age': 23, 'city': 'new york'}

In [8]:
print(student["name"])
print(student["age"])

Deepika Singh
20

In [9]:
student['city'] = "lucknow"
print(student)

{'name': 'Deepika Singh', 'age': 20, 'course': 'BCA', 'year': 2, 'marks': [85, 90, 78], 'city': 'lucknow'}

## loops in dictionary

In [22]:
student = {
    "name": "john doe",
    "age": 30,  
    "city": "new york",
}
# Accessing keys and values in a dictionary
for k,v in student. items():
    print(f"{k}: {v}")      # ACCSSING KEYS AND VALUES

name: john doe
age: 30
city: new york

## NESTED dictionary

In [17]:
company = {    
    'employee1': {'name': 'Alice', 'age': 30, 'department': 'HR'},
    'employee2': {'name': 'Bob', 'age': 25, 'department': 'IT'},
    'employee3': {'name': 'Charlie', 'age': 28, 'department': 'Finance'}}
print(company)
from pprint import pprint  # Pretty print for better readability
# Display the company dictionary in a more readable format      
pprint(company)

{'employee1': {'name': 'Alice', 'age': 30, 'department': 'HR'}, 'employee2': {'name': 'Bob', 'age': 25, 'department': 'IT'}, 'employee3': {'name': 'Charlie', 'age': 28, 'department': 'Finance'}}
{'employee1': {'age': 30, 'department': 'HR', 'name': 'Alice'},
 'employee2': {'age': 25, 'department': 'IT', 'name': 'Bob'},
 'employee3': {'age': 28, 'department': 'Finance', 'name': 'Charlie'}}

In [19]:
print(company['employee1']['name'])   # Accessing nested dictionary
print(company['employee2']['age'])     # Accessing nested dictionary

Alice
25

### calculate the average temprature of delhi in temp dictionary

In [20]:
sum = 0
for i in temp['delhi']:     # Accessing the list of temperatures for 'delhi'
    sum += i                        
average_temp = sum / len(temp['delhi'])  # Calculate the average temperature
print(f"The average temperature in delhi is: {average_temp}°C")

The average temperature in delhi is: 33.0°C

In [25]:
sum(temp['delhi']) / len(temp['delhi'])  # Calculate the average temperature

TypeError: 'int' object is not callable

### calculate average age of all emplyee

In [21]:
sum = (company['employee1']['age'] )   + (company['employee2']['age']) + (company['employee3']['age'])
average_age = sum / 3   
print(f"The average age of all employees is: {average_age} years")

The average age of all employees is: 27.666666666666668 years