- sets is the collection of unique items.
and not repeatable, unordered
- (position not fixed)
- to display  used curly braces{}

In [2]:
fruits = {"apple", "banana", "cherry"}
print(fruits)  # Output: {'banana', 'cherry', 'apple'}

{'cherry', 'apple', 'banana'}

In [3]:
num = {1, 2, 3, 4, 4, 5,5, 6}
print(num)  # donot allow duplicate values, so it will print {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [4]:
#method 1
s1 = {10,20,30}

#method 2
s2 = set([10,20,30])

In [6]:
#add the item to the sets1.add()
s = {10, 20, 30}
s.add(40)
print(s)  # Output: {40, 10, 20, 30}

{40, 10, 20, 30}

In [ ]:
#add the multiple items to the set using .update() method
s = {10, 20, 30}
s.update([40, 50, 60])
print(s)  # Output: {40, 10, 50, 20, 60, 30}

{40, 10, 50, 20, 60, 30}

In [11]:
#remove the item from the set using .remove() method or .discard() method
# .remove() will raise an error if the item is not found, while .discard()
s = {10, 20, 30}
s.remove(20)
print(s)  # Output: {10, 30}

#discard() method used then dome not raise an error if the item is not found
s = {10, 20, 30}
s.discard(40)  # No error raised
print(s)  # Output: {10, 20, 30}

{10, 30}
{10, 20, 30}

In [12]:
#check item is present in the set using 'in' keyword
s = {10, 20, 30}
if 20 in s:
    print("20 is present in the set")  # Output: 20 is present in the set   
else:
    print("20 is not present in the set")

20 is present in the set

In [13]:
# check whether the set is empty or not
colors = {"red", "green", "blue"}
print("red" in colors)  # Output: True
print("yellow" in colors)  # Output: False

True
False

In [14]:
nums = {1, 2, 3, 4, 5}
print(len(nums))  # Output: 5 (number of unique elements in the set)

5

In [15]:
a = {1, 2, 3}
a.clear()  # Removes all elements from the set
print(a)  # Output: set() (an empty set)

set()

In [18]:
a={1, 2, 3}
b={3, 5, 6}
print(a.union(b))  # Output: {1, 2, 3, 5, 6} (combines both sets)
print(a.intersection(b))  # Output: {3} (common elements in both sets)
print(a.difference(b))  # Output: {1, 2} (elements in
print(b.difference(a))  # Output: {5, 6} (elements in b but not in a)

{1, 2, 3, 5, 6}
{3}
{1, 2}
{5, 6}

In [20]:
str1 = "Application"
str2 = str1.replace("a", "A")
print(str2)  # Output: "ApAplicAtion"

ApplicAtion

In [21]:
str1 = "stack of books"
print(len(str1))

14

In [22]:
list1=[1,3,4,2]
x = list1.pop(2)
print(set([x]))

{4}

In [1]:
print('hello world')

hello world